nav {
    background: rgba(44, 120, 160, .85);
}

.nav-justified {
    width: 100% !important;
}

.about-programm p {
    font-size: 1rem;
}

h1,
h2,
#address h4 {
    font-size: 1.7rem !important;
}

.nav-link,
.nav-link:hover {
    font-size: .9rem;
}

.background-header {
    margin-top: 62px;
}

.owl-prev img,
.owl-next img {
    width: 20px;
}

.owl-prev,
.owl-next {
    left: -30px;
    top: 150px;
}

.owl-next {
    right: -30px;
    top: 150px;
    left: auto;
}

#address {
    position: relative;
    margin-left: 0;
    width: 100%;
}

#address p {
    font-size: .9rem;
    padding-left: 0;
    text-align: center;
    margin-bottom: 50px;
}

#address h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

footer div.rights {
    margin-bottom: 10px;
}
