.nav-justified {
    width: 100% !important;
}

.about-programm p {
    font-size: 1rem;
}

h1,
h2,
#address h4 {
    font-size: 1.7rem !important;
}

header {
    margin-top: -2px;
}

.header-text {
    letter-spacing: 0;
    top: 18%;
}

nav {
    background: rgb(184, 67, 137);
}

.nav-link,
.nav-link:hover {
    font-size: 1rem;
}

.background-header {
    margin-top: 62px;
}

.owl-prev img,
.owl-next img {
    width: 20px;
}

.owl-prev,
.owl-next {
    left: -30px;
    top: 150px;
}

.owl-next {
    right: -30px;
    top: 150px;
    left: auto;
}

#address {
    position: relative;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    border: none;
}

#address p {
    font-size: .9rem;
    padding-left: 0;
    text-align: center;
    margin-bottom: 50px;
}

#address h4 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    text-align: center;
}

footer div.rights {
    margin-bottom: 10px;
}