@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSansLight;
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.ttf");
    font-style: bold;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-LightItalic.ttf");
    font-style: italic;
}

header,
main,
footer {
    font-family: OpenSans;
    font-size: 18px;
}

h2 {
    text-transform: uppercase;
    color: #2c78ea !important;
    font-family: OpenSans;
    font-size: 25px !important;
}

nav {
    background: rgba(44, 120, 234, .23);
    border-bottom: 1px solid #fff;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-link,
.nav-link:hover {
    color: #fff;
    padding: 25px 0;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-toggler {
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255) !important;
    margin: 10px;
    float: right;
}

header > nav > button > span {
    background-color: rgb(255, 255, 255);
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0;
}

.nav-justified {
    width: 100%;
}

.nav-item {
    float: none;
}

.nav-link {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

@media (min-width: 768px) {
    .nav-item {
        display: table-cell;
        width: 1%;
    }
    .nav-link {
        margin-bottom: 0;
    }
}

.background-header {
    max-width: 100%;
    width: 100%;
}

.about-programm {
    background-image: url('../img/teach-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    text-align: center;
}

main h2 {
    padding: 80px 0;
    text-align: center;
}

.degree {
    font-family: OpenSansLight;
    padding: 30px 0;
}

div.circle-avatar {
    max-width: 50%;
    width: 50%;
    padding-top: 50%;
    height: auto;
    margin-left: 25%;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project {
    background: #f3f3f5;
}

.news-block img {
    max-width: 100%;
    padding-bottom: 40px;
}

.news-block a,
.news-block p,
.degree + div {
    font-family: OpenSans;
    font-style: italic;
    text-align: left;
}

.degree + div {
    text-align: center;
}

.news-block a,
.news-block a:hover,
.degree + div {
    font-size: 24px;
    color: #2c78ea;
}

.news-block p {
    padding-top: 40px;
}

.news-block p,
.degree {
    font-size: 18px;
    color: #4d4d4d;
}

footer {
    background: #2c78ea;
}

footer div {
	color: #fff;
    font-family: OpenSans;
    font-size: 18px;
}

.fa-stack-2x {
	color: #fff;
}

.fa-facebook {
	color: #3b5999;
}

.fa-vk {
	coor: #436eab;
}

.fa-google-plus {
	color: #dd4b39;
}

.fa-envelope{
	color: #b1b1b1;
}